<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Main</title>{% endblock %}
</head>
<body>
    {% block styles %}
        <style></style>
    {% endblock %}
    {% block nav %}
    <a href="/courses">Курсы</a> |  <!-- это типа страница с рекомендованными курсами  -->
    <a href="/courses-teach">Преподавание</a> |  <!-- это типа создавать курсы бесплатные или нет развилка страниця -->
    {% if user %}
    <a href="/" class="active">Профиль</a> |  <!-- это типа профиль потом ава будет-->
    <a href="/logout-page">Выйти</a> <!-- это выход из аккаунта -->
    {% endif %}

{% endblock %}
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>