{% extends '__base.html' %}

{% macro form_generate(form, action='', user_id=None, course_type=None, course_id=None, module_id=None) %}
<form action="{{ action }}" method="post" enctype="multipart/form-data" class="styled-form">
    {{ form.hidden_tag() }}
    {% if user_id %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
    {% endif %}
    {% if course_type %}
        <input type="hidden" name="course_type" value="{{ course_type }}">
    {% endif %}
    {% if course_id %}
        <input type="hidden" name="course_id" value="{{ course_id }}">
    {% endif %}
    {% if module_id %}
        <input type="hidden" name="module_id" value="{{ module_id }}">
    {% endif %}
    
    {% for field in form if field.widget.input_type != 'hidden' %}
        {% if field.widget.input_type != "submit" %}
        <div class="form-field">
            {{ field.label(class="form-label") }}
            {% if field.widget.input_type == 'textarea' %}
                {{ field(class="form-textarea") }}
            {% elif field.widget.input_type == 'select' %}
                {{ field(class="form-select") }}
            {% else %}
                {{ field(class="form-input") }}
            {% endif %}
        </div>
        {% else %}
        <div class="form-field">
            {{ field(class="form-submit") }}
        </div>
        {% endif %}
        
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="field_error">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</form>
{% endmacro %}